.blog-parent {
    width: 100%;
    position: relative;
    animation: bounceIn 1s ease-out;
  }
  
  .experience-parent {
    margin-top: 50px;
    opacity: 0;
    animation: fadeIn 1s ease-out 1s forwards;
  }
  
  .experience-box {
    display: flex;
    justify-content: space-between;
  }
  
  .experience-box > div {
    font-size: 70px;
    font-weight: 900;
  }
  
  .experience-box > div > p {
    font-size: clamp(1rem, 2.5vw, 1rem);
    font-weight: 700;
    color: var(--cardDarkText-color);
  }
  
  .blog-box {
    display: grid;
    grid-template-columns: 300px 366px;
    gap: 40px;
    height: 240px;
    margin-top: 50px; 
    font-size: clamp(16px, 2.5vw, 25px);
    font-weight: 600;
    animation: fadeIn 1s ease-out 0.5s forwards;
  }
  
  .blog-box-left {
    border-radius: 15px;
    background: var(--theme-color-contrast) url("../svg/lines1.svg");
    opacity: 0;
    color:var(--theme-color-light);
    animation: fadeIn 1s ease-out 1.5s forwards; 
  }
  
  .blog-box-right {
    border-radius: 15px;
    background: var(--theme-color-contrast2) url("../svg/lines2.svg");
    opacity: 0;
    animation: fadeIn 1s ease-out 1.5s forwards;
    cursor: pointer;
  }
  .blog-box-right > a{ color:var(--app-bgcolor);}


  /* Bounce-in animation */
  @keyframes bounceIn {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    60% {
      transform: translateY(-10px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  