.login-parent-container{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    background-color: #000;
    height: 100%;
}

.input-screen-container{
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}