.navbar-parent {
    width: 100%;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    z-index: 98;
    background: var(--app-bgcolor);
    height: 95px;
    animation: fadeIn 1s ease-out;
  }
  
  .navbar-box {
    width: 300px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--cardBackground-color);
    cursor: pointer;
    opacity: 1;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: bounceIn 1s ease-out;
  }
  
  .navbar-box svg {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .navbar-box svg:hover {
    transform: scale(1.1);
    color: var(--theme-color-contrast);
  }
  
  .navbar-box .selected {
    color: var(--theme-color-contrast2);
    font-size: 1.5rem;
  }
  
  .navbar-box .selected:hover {
    color: var(--theme-color-contrast2);
  }
  
  /* Bounce-in animation */
  @keyframes bounceIn {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    60% {
      transform: translateY(-10px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  