.blog-parent{
    width: 100%;
    position: relative;
   
}

.experience-parent{margin-top: 50px;}
.experience-box{display: flex;justify-content: space-between;}
.experience-box >div{font-size: 70px;font-weight: 900;}
.experience-box >div >p{font-size: clamp(1rem, 2.5vw, 1rem);font-weight: 700;color:#505050;}

.blog-box{
    display: grid;
    grid-template-columns: 300px 366px;
    gap: 10px;  
    height: 240px;
    margin-top: 50px;
    
}
.blog-box-left{background-color: #F46C38;border-radius: 15px;}
.blog-box-right{background-color: #c5ff41;border-radius: 15px;}