:root {
  --cardBackground-color: #202020;
  --cardDarkText-color: #D3D3D3;
  --theme-color-light: #fff;
  --theme-color-contrast: #F46C38;
  --theme-color-contrast2: #c5ff41;
  --app-bgcolor: #000;

  
}


.app-parent{
  background-color: var(--app-bgcolor);
  margin: 0;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  color: var(--theme-color-light);
  top:0;
  left:0;
  padding: 0px 10px 150px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: normal;
}
/* global css starts*/

img{
  max-width: 100%;
}

.centerCss{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-space{
  margin-top: 150px;
}

input{
  width: 100%;
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--app-bgcolor);
  padding: 10px;
  box-sizing: border-box;
}
/* global css starts*/

.load-pages{
  max-width: 1200px;
}

.home-block{
  display: flex;
  gap: 100px;
  margin: 140px 0 0 0;
}
.left-container{
  width: calc(100% - 440px);
  margin-left: 440px;
}




/* role reuse */
.role-name{
  font-size: 5vw;
  line-height:normal;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  
}
.role-name >P{margin: 0;}
.role-name >P:nth-child(2){
  color:var(--theme-color-contrast);
}

/* role summary */
.role-summary{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: var(--cardDarkText-color);
    margin-top: 20px;
}


/* list-card */
.project-list-parent{
  background-color: var(--cardBackground-color);
  border-radius: 16px;
}
.list-card{
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: 30% 70%;
  background-color: var(--cardBackground-color);
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.list-image-block{
  width: 100%;
}
.list-text-block p{
  font-size: 20px;
  margin: 0px 0 10px;
  box-sizing: border-box;
}
.list-text-block p:nth-child(1) span{
  /* background: #F46C38; */
  /* width: fit-content;*/
  color: var(--theme-color-light);  
  font-size: 22px;
  letter-spacing: 2px;
}

.list-text-block p:nth-child(2){
  /* background: var(--theme-color-contrast2); */
  width: fit-content;
  /* padding: 10px; */
  color: var(--theme-color-contrast);
}

.list-text-block p:nth-child(3){
  text-transform: uppercase;
}

.list-image-block{
height: 150px;
}

.list-image-block img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  
}

/* experince-parent */

.experince-parent{
  margin: 35px 0 0px 0;
  padding: 20px;
  border-radius: 16px;
  color: var(--cardDarkText-color);
  font-size: 20px;
}


.experince-company{
  width: fit-content;
  color:var(--theme-color-light);
  box-sizing: border-box;
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 22px;
}
.experince-role{
  color: var(--theme-color-contrast);
  font-weight: 500;
  text-transform:uppercase;
} 



.working-period > b{
  text-transform:uppercase;
}

/* skill-block */
.skill-block{
  background-color: var(--cardBackground-color);
  padding: 25px;
  border-radius: 16px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.skill-item{
  width: fit-content;
  padding: 10px;
  background-color:var(--theme-color-contrast2);
  color: #000;
  font-weight: 500;
  border-radius: 20px;
  text-transform: uppercase;
}

/* form-box */
.form-box{
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  gap: 20px;
}

textarea{
  width: 100%;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.submit-btn{
  background-color: var(--theme-color-contrast);
  font-size: 15px;
  font-weight: 600;
  margin-top: 21px;
  color: var(--theme-color-light);
}